.line-chart {
    -fx-background-color: #ffffff;
}

.title-box {
    -fx-border-color: gray;
    -fx-border-width: 0 0 1 0;
    -fx-padding: 10px;
}

.chart-title {
    -fx-text-fill: #333333;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}



.axis-label {
    -fx-text-fill: #555555;
    -fx-font-size: 12px;
}

.axis-tick-mark {
    -fx-stroke: #888888;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.slider {
    -fx-pref-width: 200px;
}

#sine1 {
    -fx-stroke: #E95484;
}

#sine2 {
    -fx-stroke: #17B3D5;
}

#resultChart{
    -fx-stroke: #8AC926;
}

.combo-box {
    -fx-pref-width: 200px;
}

.color-picker {
    -fx-pref-width: 200px;
}

.label {
    -fx-text-fill: #333333;
}

.separator {
    -fx-background-color: #cccccc;
}

.wave-sliders {
    -fx-padding: 0px;
}

.wave-slider {
    -fx-min-width: 200px;
    -fx-max-width: 300px;
}

.wave-slider .label{
    -fx-min-width: 75px;
}

.vertical-slider {
    -fx-alignment: top-center;
    -fx-min-height: 150px;
    -fx-padding: 12px;
}